<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script language="javascript">
        var time = 5;
        function PageClose() {
            time -= 1;
            document.title = "本窗口将在" + time + "秒后自动跳转首页!";
            if (time > 0) {
                setTimeout("PageClose()", 1000);
            } else {
                window.location.href = "http://www.hemiv.cn/Collection";
            }
        }
        PageClose();
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div class="n_body">
            <div class="mains">
                <div class="Pay_Title_Order_Info" style="height: 120px;">
                    <div class="Pay_Title_Order_Info_OK_Img"></div>
                    <div class="Pay_Title_Order_Info_OK_Txt">
                        支付成功！本窗口将在5秒后自动跳转!
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
